style_1 {
       font-family: "Helvetica LT CondensedLight";
       font-size: 18;
       color: #000000;
}

style_2 {
       font-family: "Forgotten Futurist";
       font-size: 16;
       color: #E5C29D;
}

style_3 {
       font-family: "Forgotten Futurist Bold";
       font-size: 16;
       color: #E5C29D;
}

style_4 {
       font-family: "Forgotten Futurist Bold";
       font-size: 16;
       color: #E5C29D;
}

style_5 {
       font-family: "Forgotten Futurist";
       font-size: 16;
       color: #FFFFFF;
}
